<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Who wants to be a millionaire</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', path='js/index.js') }}"></script>
</head>
<body>
    <div>
        <div style="margin-top: 50px; font-size: 26px">
            Подсказки
        </div>
        <div>
            <!--  подсказки  -->
        </div>
    </div>
    <div>
        <img src="{{ url_for('static', path='/images/maxresdefault.jpg')}}" alt="beautiful_image" width="800" height="400">
        <div style="margin-top: 50px; font-size: 24px" id="question">
            {{ question }}
        </div>
        <div class="button-container">
            <div class="button-group">
                <button class="button" onclick="PostAnswer('1'); GetAnswer('1')" id="ans1">{{ ans1 }}</button>
                <button class="button" onclick="PostAnswer('2'); GetAnswer('2')" id="ans2">{{ ans2 }}</button>
            </div>
            <div class="button-group">
                <button class="button" onclick="PostAnswer('3'); GetAnswer('3')" id="ans3">{{ ans3 }}</button>
                <button class="button" onclick="PostAnswer('4'); GetAnswer('4')" id="ans4">{{ ans4 }}</button>
            </div>
        </div>
    </div>
    <div>
        <div style="margin-top: 50px; font-size: 26px">
            Раунды
        </div>
        <div>
            <!-- раунды -->
        </div>
    </div>
</body>
</html>