<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Who wants to be a millionaire</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', path='js/index.js') }}"></script>
</head>
<body>
<div>
    <div style="margin-top: 50px; font-size: 26px">
        Подсказки
    </div>
    <div>
        <button class="button button-blue" type="button" onclick="window['some-modal-id'].showModal()"
                aria-controls="some-modal-id">
            Звонок другу
        </button>
    </div>
</div>
<div>
    <img src="{{ url_for('static', path='/images/maxresdefault.jpg') }}" alt="beautiful_image" width="800" height="400">
    <div style="margin-top: 50px; font-size: 24px" id="question">
        {{ question }}
    </div>
    <div class="button-container">
        <div class="button-group">
            <form action="/1/" method="post">
                <button class="button" onclick="" id="ans1">{{ ans1 }}</button>
            </form>
            <form action="/2/" method="post">
                <button class="button" onclick="" id="ans2">{{ ans2 }}</button>
            </form>
        </div>
        <div class="button-group">
            <form action="/3/" method="post">
                <button class="button" onclick="" id="ans3">{{ ans3 }}</button>
            </form>
            <form action="/4/" method="post">
                <button class="button" onclick="" id="ans4">{{ ans4 }}</button>
            </form>
        </div>
    </div>
</div>
<div>
    <div style="margin-top: 50px; font-size: 26px">
        Раунды
    </div>
    <div>
        {% for a in awards %}
            {% if a == award %}
                <div style="color: limegreen">
                    {{ a }}
                </div>
            {% else %}
                <div>
                    {{ a }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>


<dialog class="dialog" id="some-modal-id" aria-labelledby="dialog-name">
    <h2 class="dialog__title" id="dialog-name">Я модальное окно</h2>
    <p>Весь остальной контент на странице недоступен, когда я открыто.</p>
    <form method="dialog">
        <button class="dialog__button button-orange">
            Ясно-понятно 👍
        </button>
    </form>
</dialog>


</body>
</html>